#container {
	display: grid;
	grid-template-columns: 1fr;
	border: 5px solid blue;
	padding: 20px;
}

#createNoteButton {
	height: 50px;
	width: 50px;
	margin: 10px;
	font-size: 3rem;
}
svg {
	height: 25px;
	width: 25px;
}
.colorElm {
	height: 30px;
	width: 30px;
}
#dialogContent {
	display: flex;
	border: 1px solid black;
}
#baseDiv {
	height: 200px;
	width: 200px;
	margin: 20px;
	padding: 12px 16px;
	border-radius: 8px;
}
input {
	border: none;
	-webkit-appearance: none;
	-ms-appearance: none;
	-moz-appearance: none;
	appearance: none;
	outline: none;
	background: none;
}
#noteCreatorCont {
	display: flex;
	flex-direction: column;
	border: 1px solid black;
	padding: 5px;
}
button {
	width: 30px;
	height: 30px;
	font-size: 2rem;
	display: flex;
	text-align: center;
	justify-content: center;
	align-items: center;
}
dialog {
	outline: none;
	border-radius: 10px;
	padding: 5px;
}
